//- pairView.pug
doctype html
html
	head
		include includes/head.pug
	body
		include includes/nav.pug

		<!-- Main jumbotron -->
		div(class="jumbotron")
			div(class="container")
				h2 #{taskName} Question:
				p #{question}

		//- Display options
		div(class="container")

			div(class="row")
				div(class="panel panel-default")
					div(class="panel-body")
						div(id="element-content-panel")
			table(class="table")
				tbody
					- var labelCount = labels.length
					- var labelIndex = 0
					while labelIndex < labelCount
						- var labelItem = labels[labelIndex]
						- labelIndex++

						tr
							div(class="row text-center")
								h4(class="ct-label selected-label", eId=labelItem.elementId)
									td
										input( type="checkbox", name=labelItem.buttonIndex, labelId=labelItem.labelId)
									td
										span #{labelItem.labelText}

			input(class="row btn btn-primary btn-sm text-center", type="button", value="Submit")

			//- Footer navigation
			div(class="modal fade", id="loadingDialog", tabindex="-1" role="dialog")
				div(class="modal-dialog", role="document")
					div(class="modal-content")
						div(class="modal-header")
							h4(class="modal-title") Please Wait...
						div(class="modal-body text-center")
							img(src="/static/imgs/spinner.gif")

		include includes/jsFooter.pug

		<!-- Script for running the pair viewport -->
		script(src="/static/js/multi-labelView.js")